{% extends 'base.html' %}


{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %} <!--receipts is from views.py key-->
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"n/j/y" }}</td> <!--wants m/d/YY-->
                    <td>{{ receipt.category.name }}</td> <!--For the "Category" column, show the Category object's name-->
                    <td>{{ receipt.account.name }}</td> <!--For the "Account" column, show the Account object's name-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content%}
